# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
nbproject
Thumbs.db

# Node modules
/node_modules

# Coveralls
coverage

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage reports
coverage

# nyc test coverage
.nyc_output

# API keys and secrets
.env

# Dependency directory
node_modules
bower_components
jspm_packages

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*

# Yarn Integrity file
.yarn-integrity

# Output of 'npm pack'
*.tgz

# Optional REPL history
.node_repl_history

# Optional eslint cache
.eslintcache

# Optional npm cache directory
.npm

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# node-waf configuration
.lock-wscript
